<configuration>

    <property name="BASE_MARKER" value="base" />
    <property name="INFO_MARKER" value="info" />
    <property name="WARN_MARKER" value="warn" />
    <property name="ERROR_MARKER" value="error" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>
                    marker != null &amp;&amp; (marker.contains(BASE_MARKER) || marker.contains(INFO_MARKER) || marker.contains(WARN_MARKER) || marker.contains(ERROR_MARKER))
                </expression>
            </evaluator>
            <OnMatch>ACCEPT</OnMatch>
            <OnMismatch>DENY</OnMismatch>
        </filter>

        <encoder>
            <pattern>%marker: %replace(&lt;Aether&gt; [%level] ~%msg){'\[(INFO|WARN|ERROR)\]', '$1:'}%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/aether.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/aether.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>